@import '@styles/components/button';

.hero {
  width: 100%;
  height: 1161px;
  background-image: url('/assets/hero.png');
  background-size: contain;
  background-position:
    right,
    bottom right;
  background-repeat: no-repeat;

  .hero-container {
    position: relative;
    left: min(12%, 167px);
    top: 30%;
    display: flex;
    flex-direction: column;
    max-width: 539.37px;
    gap: 20px;

    .hero-btn {
      display: flex;
      margin-top: 49px;
      gap: 30px;
    }
  }
}

.hero-btn-outlined {
  @include btn(transparent);

  font-weight: 600;
  min-width: 160px;
  color: $primary;
  border: 2px solid $primary;
  padding: 5px $base-padding;
  border-radius: $base-border-radius;
}
