%flex-col {
  display: flex;
  flex-direction: column;
}

.price-container {
  width: 100%;
  height: 900px;
  background-image: url('./assets/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .price-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    > .sub-topic {
      max-width: 700px;
    }

    .price-dolar {
      display: flex;

      @extend %flex-col;

      margin-top: 20px;
      margin-bottom: 60px;

      > span:first-child {
        font-weight: 900;
        font-size: 50px;
        color: #222f65;
      }

      > span:nth-child(2) {
        font-size: 16px;
        color: $heading;
      }
    }

    .price-pourchase {
      @extend %flex-col;

      align-items: center;
      gap: 9px;

      > span:first-child {
        color: #5d6970;
        font-size: 14px;
      }
    }
  }
}
